<div class="container mt-4">
  <h2 class="text-center mb-4">Menú de Autores</h2>

  <div class="list-group">
    <a href="/creara" class="list-group-item list-group-item-action">
      Crear Autor
    </a>
    <a href="/consultara" class="list-group-item list-group-item-action">
      Consultar Autor
    </a>
    <a href="/actualizara" class="list-group-item list-group-item-action">
      Actualizar Autor
    </a>
    <a href="/eliminara" class="list-group-item list-group-item-action text-danger">
      Eliminar Autor
    </a>
  </div>
</div>
