    <h1>menu de autores</h1>
    <ul class="menua">
    <li><a href="/creara">Crear Autor</a></li>
    <li><a href="/consultara">Consultar Autor</a></li>
    <li><a href="/actualizara">Actualizar Autor</a></li>
    <li><a href="/eliminara">eliminar Autor</a></li>
    


  </ul>