<div class="container mt-4">
  <h2 class="text-center mb-4"> Menú de Libros</h2>

  <div class="list-group">
    <a href="/crearl" class="list-group-item list-group-item-action">
      Crear Libro
    </a>
    <a href="/consultarl" class="list-group-item list-group-item-action">
      Consultar Libro
    </a>
    <a href="/editarl" class="list-group-item list-group-item-action">
      Actualizar Libro
    </a>
    <a href="/eliminarl" class="list-group-item list-group-item-action text-danger">
      Eliminar Libro
    </a>
  </div>
</div>