    <h1>menu de libros</h1>
    <ul class="menul">
    <li><a href="/crearl">Crear Libro</a></li>
    <li><a href="/consultarl">Consultar Libro</a></li>
    <li><a href="/editarl">Actualizar Libro</a></li>
    <li><a href="/eliminarl">Eliminar Libro</a></li>

  </ul>