{{!-- Navbar de la aplicacion --}}

  <nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container">
      <a href="/" class="navbar-brand"> Pagina de inicio</a>
      <a href="/librosm" class="navbar-brand"> Libros</a>
      <a href="/autorm" class="navbar-brand"> Autores</a>

    </div>

  </nav>